{% extends 'base.html'%}
{% block title %}About Me
{% endblock title  %}
{%block body%}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-5">
        <h2>About Me </h2>
        <p>Hi, I am Sankalp Mahehswari from Bhopal. I am a final year undergraduate student at College of Engineering Pune pursuing Computer Engineering.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100  p-5 text-white bg-dark border rounded-5">
        <h2>Academic Qualifications</h2>
        <p>HSC - Delhi Public School Bhopal 2016</p>
        <p>SSC - Delhi Public School Bhopal 2018</p>
        <p>BTech - College of Engineering Pune 2023</p>

      </div>
    </div>
  </div>
  
{%endblock body%}
