{% extends 'base.html'%}

{% block title %}
Contact
{% endblock title  %}

{%block body%}
<div class="container my-5 py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/2.png" class="d-block w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text">https://www.linkedin.com/in/sankalp-maheshwari-1b046322b/</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/3.png" class="d-block w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Outlook Mail</h5>
            <p class="card-text">maheshwaris19.comp@coep.ac.in</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/4.png" class="d-block w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <p class="card-text">+918889619988</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/12.jpg" class="d-block w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text">https://github.com/sankalp1324</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class='container px-5'>
  <h2 class="text-center">For any query please fill the form</h2>
    <form method="post" action="/contact">
      {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name" name ="name" placeholder="Enter your Name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name ="email" placeholder="Enter your Email">
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" name ="phone" placeholder="Enter your Phone Number">
    </div>
    <div class="form-group">
      <label for="desc">Breifly describe the query here.</label>
      <textarea class="form-control" id="desc" name ='desc' rows="3"></textarea>
    </div>
    <button class="btn btn-primary my-2" type="submit">Submit</button>

  </form>
</div>

  {%endblock body%}


