{% extends 'base.html'%}
{% block title %}Projects
{% endblock title  %}
{%block body%}
<h1>My Projects</h1>

<main>
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider my-4">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">MultiThreding Library<span class="text-muted"> - Operating System (March 22 - May 22)</span></h3>
          <p>I implemented a multithreded library. I also implemented two models of multithreading One to One and Many to One. I implemented some system call functions. I created this project using C language. </p>
        </div>
        <div class="col-md-5">
            <img src="/static/13.jpg" class="d-block w-50" alt="...">

  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">Uber Data Analysis<span class="text-muted"> - Data Science (March 22 - May 22)</span></h3>
          <p>Predicted the price of an Uber and also the availability of a vehicle according to the source point. We took a dataset visualized it performed exploratory data analysis. We used many python librabries such as Pandas and numpy. This was a group project.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/14.jpg" class="d-block w-50" alt="...">

  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">Computer Graphics<span class="text-muted"> - (March 22 - May 22)</span></h3>
          <p class="lead">In this project I created a video frame by frame using Blender software. I learned to use Blender and created objects in it .</p>
        </div>
        <div class="col-md-5">
            <img src="/static/6.png" class="d-block w-50" alt="...">

  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">HTTP Server<span class="text-muted"> - Computer Networks (October 21 - November 21)</span></h3>
          <p class="lead">Implemented a HTTP server using python. It had almost all the headers and the status codes. The methods implemented were
            GET,HEAD,PUT,POST,DELETE and I also made different levels of logging and I also took care of cookies.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/5.png" class="d-block w-50" alt="...">

  
        </div>
      </div>
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2017–2022 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>

{%endblock body%}


