{% extends 'base.html'%}
{% block title %}Skills
{% endblock title  %}
{%block body%}

<main class="container py-5">
    <h1><b>Skills</b></h1>
  
    <hr class="my-5">
  
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1068px;">
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card">
          <svg <rect width="0" height="0"></rect><img src="/static/9.png" class="d-block w-50" alt="..."></svg>
            
          <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">Advance level fluency in Python.</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 1px;">
        <div class="card">
  
          <div class="card-body">
            <img src="/static/10.png" class="d-block w-50" alt="...">
            <h5 class="card-title">C Language</h5>
            
            <p class="card-text">Advance level fluency in C programming. </p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 350px;">
        <div class="card">
            <svg <rect width="0" height="0"></rect><img src="/static/9.jpg" class="d-block w-100" alt="..."></svg>

          <div class="card-body">
            <h5 class="card-title">SQL</h5>
            <p class="card-text">Intermidiate level fluency in SQL programming.</p>
          </div>
        </div>
      </div>
      <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1068px;">
        <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 335px;">
            <div class="card">
                <svg <rect width="0" height="0"></rect><img src="/static/11.png" class="d-block w-100" alt="..."></svg>
            
          <div class="card-body">
            <h5 class="card-title">HTML and CSS</h5>
            <p class="card-text">Intermidiate level fluency in HTML and CSS.</p>
            </div>
        </div>
    </div>

      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 820px;">
        <div class="card">
            <svg <rect width="0" height="0"></rect><img src="/static/1.png" class="d-block w-100" alt="..."></svg>

            <div class="card-body">
                <h5 class="card-title">Django Framework</h5>
                <p class="card-text">Intermidiate level fluency in Django Framework.</p>
        </div>
      </div>
    </div>

      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 770px;">
        <div class="card">
            <svg <rect width="0" height="0"></rect><img src="/static/10.jpg" class="d-block w-50" alt="..."></svg>

          <div class="card-body">
            <h5 class="card-title">C++</h5>
            <p class="card-text">Intermidiate level fluency in C++ programming.</p>
          </div>
        </div>
      </div>
    </div>
  
  </main>


{%endblock body%}


